*{
    margin: 0px;
    padding: 0px;
}
.rootHome{
    height: min-content;
    width: 100vw;
    position: relative;
}
a {
    color: inherit;
    text-decoration: none;
  }
  h2{
    font-size: inherit;
    font-weight: inherit;
  }
  p{
    font-size: inherit;
    font-weight: inherit;
  }
  h3{
    font-size: inherit;
    font-weight: inherit;
  }
 
@media (min-width: 1181px){

  
  ::-webkit-scrollbar{
    width: 12px;
    overflow:scroll;
  }
  ::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 30%, .8);
    border-radius: 30px;
  }
  ::-webkit-scrollbar-track {
    border: 1px solid hsla(0, 0%, 10%, .5);
    background-color: hsla(0, 0%, 20%, 1);
  }
}