.rootHome {
  width: 100vw;
  height: calc(100vh - 60px);
  position: relative;
  overflow: hidden scroll;
}

/* --------------------------------------------------------------------- Tablet media query -----------------------------------------------------------------------*/

@media (min-width: 601px) {
  .rootHome {
    height: calc(100vh - 70px);
  }
}

/* --------------------------------------------------------------------- Desktop media query -----------------------------------------------------------------------*/

@media (min-width: 1181px) {
  ::-webkit-scrollbar {
    width: 12px;
    overflow: scroll;
  }
  ::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 30%, 0.8);
    border-radius: 30px;
  }
  ::-webkit-scrollbar-track {
    border: 1px solid hsla(0, 0%, 10%, 0.5);
    background-color: hsla(0, 0%, 20%, 1);
  }
}
