b{
    color: var(--mainColor);
    font-weight: inherit;
}
.aboutMe-root{
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-top: 20%;

    }
    .aboutMe-content{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items:center;
        height: 100%;
        position: relative;
    }

        .aboutMe-content img{
            height: 250px;
            object-fit: contain;
        }
        .aboutMe-copy{
        padding-top: 20%;
        padding-bottom: 20%;
        }
            .aboutMe-copy h2{
                font-size: 24px;
                text-align:left;
                font-weight: 700;
                width: 100%;
            }

            .aboutMe-copy p{
                font-size: 16px;
                font-weight: normal;
                text-align: justify;
            }

            .aboutMe-CTA button{
                display: flex;
                margin-left: auto;
                margin-top: 16%;
            }

    .about-me-read-more-content{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 40%;
        gap: 25px;
    }

        .aboutme-copy-PFP{
            height: 150px;
            width: 150px;
            border-radius: 100%;
            margin: 0 auto;
            margin-bottom: 10%;
            border: 2px solid white;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .aboutme-copy-PFP img{
            height: 800px;
            object-fit:cover;
            position: relative;
            top: 100%;
        }

        .about-me-read-more-content h3{
            font-size: 20px;
            font-weight: 700;
            text-align: left;
            width: 100%;
        }
        .about-me-read-more-content p{
            font-size: 16px;
            text-align: justify;
            width: 100%;
        }




/* --------------------------------------------------------------------- Tablet media query -----------------------------------------------------------------------*/

@media (min-width: 601px){

    .aboutMe-root{
        margin-top: 10%;
    }
    
        .aboutMe-content img{
            height: 450px;
        }
        .aboutMe-copy{
            padding-top: 10%;
            padding-bottom: 10%;
        }
            .aboutMe-copy h2{
                font-size: 34px;
            }

            .aboutMe-copy p{
                font-size: 24px;
            }

            .aboutMe-CTA button{
                margin-top: 12%;
            }

    .about-me-read-more-content{
        margin-bottom: 30%;
    }

        .aboutme-copy-PFP{
            height: 300px;
            width: 300px;
            margin-bottom: 10%;
            border: 4px solid white;
        }
        .aboutme-copy-PFP img{
            height: 1200px;
            top: 70%;
        }

        .about-me-read-more-content h3{
            font-size: 30px;
        }
        .about-me-read-more-content p{
            font-size: 24px;
        }

}


/* --------------------------------------------------------------------- Desktop media query -----------------------------------------------------------------------*/


@media (min-width: 1181px){

}