.aboutMe-root {
  width: 80%;
  margin: 0 auto;
}

.aboutMe-content {
  height: 100%;
  width: 100%;
  margin-top: 20%;
  margin-bottom: 20%;
  display: flex;
  flex-direction: column;
}

.aboutMe-content img {
  height: 250px;
  object-fit: contain;
  animation: scale-opacity-in 0.7s cubic-bezier(0.5, 0.27, 0.45, 0.87);
  transition: all 0.4s cubic-bezier(0.5, 0.27, 0.45, 0.87);
}

.aboutMe-content img:hover {
  transform: rotate(10deg) scale(1.1);
}

.aboutMe-copy {
  width: 100%;
  padding-top: 20%;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.aboutMe-copy h2 {
  font-size: 26px;
  text-align: left;
  font-weight: 700;
  animation: opacity-translation-Y-in 0.7s cubic-bezier(0.48, 0.23, 0.61, 0.93);
}

.aboutMe-copy p {
  font-size: 16px;
  font-weight: normal;
  text-align: justify;
  animation: opacity-translation-Y-in 0.8s cubic-bezier(0.48, 0.23, 0.61, 0.93);
}

.aboutMe-CTA {
  margin-left: auto;
  margin-top: 10%;
  animation: opacity-in 0.4s cubic-bezier(0.48, 0.23, 0.61, 0.93);
  animation-delay: 1s;
  animation-fill-mode: backwards;
}

.about-me-read-more-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20%;
  gap: 20px;
}

.aboutme-copy-PFP {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  margin-bottom: 10%;
  border: 5px solid white;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutme-copy-PFP:hover {
  scale: 1.1;
  border: 5px solid var(--mainColor);
}

.aboutme-copy-PFP img {
  height: 350px;
  object-fit: contain;
  position: relative;
  top: 30%;
}

.about-me-read-more-content h3 {
  font-size: 20px;
  text-align: center;
  text-decoration: underline;
  font-weight: 700;
  width: 100%;
}

.about-me-read-more-content p {
  text-align: justify;
  font-size: 16px;
  width: 100%;
}

.about-me-read-more-content img {
  object-fit: contain;
  width: 100%;
}

.about-me-read-more-content i {
  font-size: 10px;
  text-align: center;
  margin-top: 20px;
  width: 100%;
}

/* --------------------------------------------------------------------- Tablet media query -----------------------------------------------------------------------*/

@media (min-width: 601px) {
  .aboutMe-root {
    width: 70%;
  }

  .aboutMe-content {
    margin-top: 15%;
    margin-bottom: 15%;
  }

  .aboutMe-content img {
    height: 400px;
  }

  .aboutMe-copy {
    padding-top: 15%;
    gap: 30px;
  }

  .aboutMe-copy h2 {
    font-size: 40px;
  }

  .aboutMe-copy p {
    font-size: 16px;
  }

  .aboutMe-CTA {
    gap: 20px;
    margin-top: 10%;
  }

  .about-me-read-more-content {
    margin-bottom: 15%;
    gap: 30px;
  }

  .aboutme-copy-PFP {
    height: 250px;
    width: 250px;
    border: 7px solid white;
  }

  .aboutme-copy-PFP:hover {
    border: 7px solid var(--mainColor);
  }

  .aboutme-copy-PFP img {
    height: 500px;
    top: 25%;
  }

  .about-me-read-more-content h3 {
    font-size: 28px;
    text-align: left;
    padding-left: 40px;
  }

  .about-me-read-more-content p {
    font-size: 16px;
  }

  .about-me-read-more-content i {
    font-size: 12px;
    margin-top: 40px;
    text-align: right;
  }
}

/* --------------------------------------------------------------------- Desktop media query -----------------------------------------------------------------------*/

@media (min-width: 1181px) {
  .aboutMe-root {
    width: 80%;
    height: min-content;
    margin: 0 auto;
  }

  .aboutMe-content {
    height: 100%;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }

  .aboutMe-content img {
    height: 100%;
    width: 40%;
    object-fit: contain;
    animation: scale-opacity-in 0.7s cubic-bezier(0.5, 0.27, 0.45, 0.87);
    transition: all 0.4s cubic-bezier(0.5, 0.27, 0.45, 0.87);
  }

  .aboutMe-content img:hover {
    transform: rotate(10deg) scale(1.1);
  }

  .aboutMe-copy {
    width: 55%;
    padding-top: 0%;
    gap: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .aboutMe-copy h2 {
    font-size: 46px;
    text-align: left;
    font-weight: 700;
    animation: opacity-translation-Y-in 0.7s cubic-bezier(0.48, 0.23, 0.61, 0.93);
  }

  .aboutMe-copy p {
    font-size: 20px;
    font-weight: normal;
    text-align: justify;
    animation: opacity-translation-Y-in 0.8s cubic-bezier(0.48, 0.23, 0.61, 0.93);
  }

  .aboutMe-CTA {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 20px;
    margin-top: 5%;
    animation: opacity-in 0.4s cubic-bezier(0.48, 0.23, 0.61, 0.93);
    animation-delay: 1s;
    animation-fill-mode: backwards;
  }

  .about-me-read-more-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10%;
    gap: 30px;
  }

  .aboutme-copy-PFP {
    height: 250px;
    width: 250px;
    border-radius: 100%;
    margin-bottom: 10%;
    border: 7px solid white;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .aboutme-copy-PFP:hover {
    scale: 1.1;
    border: 7px solid var(--mainColor);
  }

  .aboutme-copy-PFP img {
    height: 500px;
    object-fit: contain;
    position: relative;
    top: 25%;
  }

  .about-me-read-more-content h3 {
    font-size: 32px;
    text-align: left;
    text-decoration: underline;
    font-weight: 700;
    width: 100%;
    padding-left: 50px;
  }

  .about-me-read-more-content p {
    text-align: justify;
    font-size: 20px;
    width: 100%;
  }

  .about-me-read-more-content i {
    font-size: 20px;
    text-align: right;
    margin-top: 50px;
    width: 100%;
  }
}
