:root {
  
  font-family: var(--mainFont);
  color-scheme: light dark;
  color: var(--textMainColor);
  --mainFont:'RUBIK', system-ui, Avenir, Helvetica, sans-serif;
  --textMainColor: #fff;
  --textSecColor:hsla(106deg, 0%, 73%, 1);
  --secColor: #242424;
  --mainColor: hsl(266deg, 100%, 60%);

  background-color: var(--secColor);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
