.mainButton {
  color: var(--textMainColor);
  border: 1px solid white;
  padding: 12px 20px;
  border-radius: 12px;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
  min-width: 150px;
  font-weight: bold;
  background: var(--mainColor);
}

.secButton {
  color: var(--textMainColor);
  border: 1px solid var(--mainColor);
  padding: 12px 20px;
  border-radius: 12px;
  font-size: 16px;
  min-width: 150px;
  font-weight: bold;
  background: var(--secColor);
}

.ghostButton {
  color: var(--textMainColor);
  border: none;
  padding: 12px 20px;
  border-radius: 12px;
  font-size: 16px;
  min-width: 150px;
  font-weight: bold;
  background: none;
}

.linkButton {
  color: var(--textMainColor);
  border: none;
  padding: 12px 20px;
  border-radius: 12px;
  font-size: 16px;
  min-width: 150px;
  background: none;
  font-style: italic;
  font-weight: bold;
  color: var(--mainColor);
  text-decoration-line: underline;
}

/* --------------------------------------------------------------------- Tablet media query -----------------------------------------------------------------------*/

@media (min-width: 601px) {
  .mainButton {
    padding: 20px 28px;
    border-radius: 22px;
    font-size: 20px;
    border: 2px solid white;
    min-width: 200px;
  }

  .secButton {
    padding: 20px 28px;
    border-radius: 22px;
    font-size: 20px;
    border: 2px solid var(--mainColor);
    min-width: 200px;
  }

  .ghostButton {
    padding: 20px 28px;
    border-radius: 22px;
    font-size: 20px;
    min-width: 200px;
  }

  .linkButton {
    padding: 20px 28px;
    border-radius: 22px;
    font-size: 20px;
    min-width: 200px;
  }
}

/* --------------------------------------------------------------------- Desktop media query -----------------------------------------------------------------------*/

@media (min-width: 1181px) {
  .desktopMainButton {
    color: var(--mainColor);
    border: 2px solid var(--mainColor);
    padding: 12px 20px;
    border-radius: 18px;
    font-size: 20px;
    background: white;
  }

  .desktopMainButton:hover {
    cursor: pointer;
    transform: scale(1.015);
    opacity: 0.9;
  }
  .desktopSecButton {
    color: white;
    border: 2px solid white;
    padding: 12px 20px;
    border-radius: 18px;
    font-size: 20px;
    background: none;
  }

  .desktopSecButton:hover {
    cursor: pointer;
    transform: scale(1.015);
    opacity: 0.9;
  }
  .mainButton {
    color: var(--textMainColor);
    border: 2px solid white;
    padding: 12px 20px;
    border-radius: 18px;
    font-size: 20px;
    background: var(--mainColor);
  }
  .mainButton:hover {
    cursor: pointer;
    transform: scale(1.015);
    opacity: 0.9;
  }

  .secButton {
    color: var(--textMainColor);
    border: 2px solid var(--mainColor);
    padding: 12px 20px;
    border-radius: 18px;
    font-size: 20px;
    background: var(--secColor);
  }

  .secButton:hover {
    cursor: pointer;
    transform: scale(1.015);
    opacity: 0.9;
  }

  .ghostButton {
    color: var(--textMainColor);
    border: none;
    padding: 12px 20px;
    border-radius: 18px;
    font-size: 20px;
    background: none;
  }

  .ghostButton:hover {
    cursor: pointer;
    transform: scale(1.015);
    opacity: 0.9;
  }

  .linkButton {
    color: var(--textMainColor);
    border: none;
    padding: 12px 20px;
    border-radius: 18px;
    font-size: 20px;
    background: none;
    color: var(--mainColor);
    text-decoration-line: underline;
  }
  .linkButton:hover {
    cursor: pointer;
    transform: scale(1.015);
    opacity: 0.9;
  }
}
