b{
    color: var(--mainColor);
    font-weight: inherit;

}
.projects-root{
    height: auto;
    width: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 40%;
    margin-top: 20%;
}
.projects-content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

}

.projects-content img{
    height: 250px;
    object-fit: contain;

}
.projects-copy{
    margin-top: 20%;
}

.projects-copy h2{
    font-size: 24px;
    font-weight: 700;
    text-align: left;
}
.projects-copy p{
    font-size: 16px;
    font-weight: normal;
    text-align: justify;
    margin-top: 8%;
}

.projects-btn-form{
    width: 100%;
}

.projects-btn-form button{
    margin-top: 16%;
    margin-left: auto;
    display: flex;
}

.display-projects{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 10%;

}