.projects-root {
  width: 80%;
  height: min-content;
  margin: 0 auto;
}

.projects-content {
  height: 100%;
  width: 100%;
  margin-top: 20%;
  margin-bottom: 20%;
  display: flex;
  flex-direction: column;
}

.projects-content img {
  width: 100%;
  object-fit: contain;
  animation: scale-opacity-in 0.7s cubic-bezier(0.5, 0.27, 0.45, 0.87);
  transition: all 0.4s cubic-bezier(0.5, 0.27, 0.45, 0.87);
}

.projects-content img:hover {
  transform: rotate(10deg) scale(1.1);
}

.projects-copy {
  width: 100%;
  padding-top: 20%;
  display: flex;
  flex-direction: column;
}

.projects-copy h2 {
  font-size: 26px;
  text-align: left;
  font-weight: 700;
  animation: opacity-translation-Y-in 0.7s cubic-bezier(0.48, 0.23, 0.61, 0.93);
}
.projects-copy p {
  font-size: 16px;
  font-weight: normal;
  text-align: justify;
  animation: opacity-translation-Y-in 0.8s cubic-bezier(0.48, 0.23, 0.61, 0.93);
}

.projects-CTA {
  margin-left: auto;
  margin-top: 16%;
  animation: opacity-in 0.4s cubic-bezier(0.48, 0.23, 0.61, 0.93);
  animation-delay: 1s;
  animation-fill-mode: backwards;
}

.projects-display-projects {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20%;
}

.projects-display-card {
  width: 100%;
  padding: 20px;
  gap: 20px;
  line-height: 20px;
  height: fit-content;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.projects-display-card h2 {
  font-size: 24px;
  text-align: center;
  font-weight: 700;
  width: 100%;
  padding: 10px 0;
  text-decoration: underline;
}

.projects-display-card h3 {
  font-size: 20px;
  text-align: left;
  font-weight: 700;
  width: 100%;
  padding-left: 20px;
}

.projects-display-card p {
  text-align: justify;
  font-size: 16px;
  width: 100%;
}

.projects-display-card ul {
  text-align: left;
  width: 100%;
  padding-left: 20px;
}

.projects-display-card video {
  width: 100%;
  object-fit: contain;
}

.projects-display-card img {
  width: 100%;
  object-fit: contain;
}

.projects-display-cards-CTA {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
  gap: 10px;
}

/* -------------------- Projects card styles for img FullScreen open ---------------*/

.projects-full-screen-asset-open {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
  object-fit: contain;
  position: fixed;
  display: flex;
}

.projects-full-screen-asset-open:hover {
  cursor: pointer;
}

.projects-full-screen-asset-button {
  display: flex;
  right: 0;
  top: 30%;
  margin-left: auto;
  position: absolute;
}
.projects-full-screen-loader {
  width: 100%;
  height: 150px;
  border: 1px dotted var(--mainColor);
  color: var(--mainColor);
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects-full-screen-asset-open div {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: black;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

/* ------- full screen img FullScreen closed  ------ */

.projects-full-screen-asset-close {
  display: default;
}
.projects-full-screen-asset-close:hover {
  cursor: pointer;
}
.projects-full-screen-asset-close span {
  display: none;
}

.projects-full-screen-asset-close div {
  display: none;
}

/* --------------------------------------------------------------------- Tablet media query -----------------------------------------------------------------------*/

@media (min-width: 601px) {
  .projects-root {
    margin-top: 10%;
  }

  .projects-content img {
    height: 450px;
  }

  .projects-copy {
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .projects-copy h2 {
    font-size: 34px;
  }
  .projects-copy p {
    font-size: 24px;
  }

  .projects-CTA button {
    margin-top: 12%;
  }

  .projects-display-features {
    margin-bottom: 30%;
  }

  .projects-display-features-buttons-CTA {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
    gap: 30px;
  }
  /* -------------------- Projects card styles for img FullScreen open ---------------*/

  .projects-full-screen-asset-open span {
    top: -80px;
  }
}

/* --------------------------------------------------------------------- Desktop media query -----------------------------------------------------------------------*/

@media (min-width: 1181px) {
  .projects-root {
    margin-top: 10%;
  }
  .projects-content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }

  .projects-content img {
    height: 450px;
  }
  .projects-copy {
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .projects-copy h2 {
    font-size: 34px;
  }
  .projects-copy p {
    font-size: 20px;
  }
  .projects-CTA button {
    display: flex;
    margin: 0px;
    margin-top: 12%;
    height: fit-content;
    width: fit-content;
  }

  .projects-display-features {
    margin-top: 5%;
    margin-bottom: 10%;
    width: 80%;
  }
  .projects-display-features-buttons-CTA {
    flex-direction: row;
    margin: 20px 0;
    gap: 10px;
  }

  /* -------------------- Projects card styles for img FullScreen open ---------------*/

  .projects-full-screen-asset-open {
    z-index: 100;
  }
  .projects-full-screen-asset-open span {
    top: 10px;
  }

  /* ------- full screen img FullScreen closed  ------ */

  .projects-full-screen-asset-close {
    display: default;
  }
}
