.error-404-root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.error-404-root img {
  height: 250px;
  object-fit: contain;
  animation: scale-opacity-in 0.7s cubic-bezier(0.5, 0.27, 0.45, 0.87);
  transition: all 0.4s cubic-bezier(0.5, 0.27, 0.45, 0.87);
}

.error-404-root img:hover {
  transform: rotate(10deg) scale(1.1);
}

.error-404-root h2 {
  font-size: 26px;
  text-align: left;
  font-weight: 700;
  animation: opacity-translation-Y-in 0.7s cubic-bezier(0.48, 0.23, 0.61, 0.93);
}

.error404-btn {
  margin-top: 10%;
  animation: opacity-in 0.4s cubic-bezier(0.48, 0.23, 0.61, 0.93);
  animation-delay: 1s;
  animation-fill-mode: backwards;
}

/* --------------------------------------------------------------------- Tablet media query -----------------------------------------------------------------------*/

@media (min-width: 601px) {
  .error-404-root {
    gap: 30px;
  }

  .error-404-root img {
    height: 400px;
  }

  .error-404-root h2 {
    font-size: 36px;
  }

  .error404-btn {
    margin-top: 10%;
  }
}

/* --------------------------------------------------------------------- Desktop media query -----------------------------------------------------------------------*/

@media (min-width: 1181px) {
  .error-404-root {
    gap: 30px;
  }

  .error-404-root img {
    height: 400px;
  }

  .error-404-root h2 {
    font-size: 46px;
  }

  .error404-btn {
    margin-top: 0%;
  }
}
