#error-404{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center; 
    align-items: center; 
    gap: 2%;  
}

#error-404 img{
    height: 250px;
    object-fit: contain;
}
#error-404 span{
    font-size: 24px;
    font-weight: bold;
}

.error404-btn{
    padding-top: 10%;
}

/* --------------------------------------------------------------------- Tablet media query -----------------------------------------------------------------------*/


@media (min-width: 600px){
    #error-404{
        gap: 2%;  
    }
    
    #error-404 img{
        height: 450px;
        object-fit: contain;
    }
    #error-404 span{
        font-size: 25px;
    }
    #error-404 span{
        font-size: 34px;
        font-weight: bold;
    }
    .error404-btn{
        padding-top: 10%;
    }
}