.web-projects-root {
  width: 80%;
  margin: 0 auto;
}

.web-projects-content {
  height: 100%;
  width: 100%;
  margin-top: 20%;
  margin-bottom: 20%;
  display: flex;
  flex-direction: column;
}

.web-projects-main-asset {
  width: 250px;
  margin: 0 auto;
  object-fit: contain;
  animation: scale-opacity-in 0.7s cubic-bezier(0.5, 0.27, 0.45, 0.87);
  transition: all 0.2s cubic-bezier(0.5, 0.27, 0.45, 0.87);
}

.web-projects-main-asset:hover {
  transform: scale(1.05);
}

.web-projects-copy {
  width: 100%;
  padding-top: 20%;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.web-projects-copy h2 {
  font-size: 26px;
  text-align: left;
  font-weight: 700;
  animation: opacity-translation-Y-in 0.7s cubic-bezier(0.48, 0.23, 0.61, 0.93);
}
.web-projects-copy p {
  font-size: 16px;
  font-weight: normal;
  text-align: justify;
  animation: opacity-translation-Y-in 0.8s cubic-bezier(0.48, 0.23, 0.61, 0.93);
}

.web-projects-CTA {
  margin-left: auto;
  margin-top: 10%;
  animation: opacity-in 0.4s cubic-bezier(0.48, 0.23, 0.61, 0.93);
  animation-delay: 1s;
  animation-fill-mode: backwards;
}

.web-projects-display-cards {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  margin-bottom: 20%;
}

.web-projects-display-cards hr {
  width: 85%;
  border-radius: 100%;
  margin: 20px auto;
}

.web-projects-display-card-body {
  width: 100%;
  padding: 20px;
  gap: 20px;
  height: fit-content;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.web-projects-display-card-body h2 {
  font-size: 26px;
  text-align: center;
  font-weight: 700;
  width: 100%;
  padding: 10px 0;
  text-decoration: underline;
}

.web-projects-display-card-body i {
  text-align: right;
  opacity: 0.6;
  font-size: 10px;
}

.web-projects-display-card-body h4 {
  font-size: 20px;
  text-align: left;
  font-weight: 700;
  width: 100%;
}

.web-projects-display-card-body p {
  text-align: justify;
  font-size: 16px;
  width: 100%;
}

.web-projects-display-card-body ul {
  text-align: left;
  width: 100%;
  padding-left: 30px;
  box-sizing: border-box;
}

.web-projects-display-card-body li {
  width: 100%;
  height: min-content;
  text-align: left;
  position: relative;
}

.web-projects-display-card-body li > img {
  height: 16px;
  object-fit: contain;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.web-projects-display-card-CTA {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
  gap: 10px;
}

.web-projects-card-asset-loader {
  width: 100%;
  height: 150px;
  border: 3px dotted var(--mainColor);
  color: var(--mainColor);
  display: flex;
  justify-content: center;
  align-items: center;
}

.web-projects-display-card-body-video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 12px;
}

/* -------------------- Handle FullScreen  ---------------*/

.web-projects-full-screen-img-open {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0px;
  z-index: 550;
  position: fixed;
  object-fit: contain;
}

.web-projects-full-screen-img-close {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 12px;
}

.web-projects-full-screen-img-open:hover {
  cursor: pointer;
}

.web-projects-full-screen-img-close:hover {
  cursor: pointer;
}

.web-projects-full-screen-close-button {
  z-index: 600;
  top: 0;
  right: 0;
  position: fixed;
}

.web-projects-full-screen-close-button button {
  padding: 10px;
  min-width: 0;
  font-size: 30px;
}

.web-projects-full-screen-bg {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 500;
  position: fixed;
  background-color: black;
}

/* ------------------------------------------------------ Tablet media query -----------------------------------------------------------------------*/

@media (min-width: 601px) {
  .web-projects-root {
    width: 70%;
  }

  .web-projects-content {
    margin-top: 15%;
    margin-bottom: 15%;
  }

  .web-projects-main-asset {
    width: 400px;
  }

  .web-projects-copy {
    padding-top: 15%;
    gap: 30px;
  }

  .web-projects-copy h2 {
    font-size: 40px;
  }
  .web-projects-copy p {
    font-size: 16px;
  }

  .web-projects-CTA {
    gap: 20px;
    margin-top: 10%;
  }

  .web-projects-display-cards {
    margin-bottom: 15%;
    gap: 15px;
  }

  .web-projects-display-cards hr {
    margin: 30px auto;
  }

  .web-projects-display-card-body {
    padding: 40px;
    gap: 25px;
  }

  .web-projects-display-card-body h2 {
    font-size: 32px;
    padding: 20px 0;
  }

  .web-projects-display-card-body i {
    font-size: 12px;
  }

  .web-projects-display-card-body h4 {
    font-size: 24px;
  }

  .web-projects-display-card-body p {
    font-size: 16px;
  }

  .web-projects-display-card-body ul {
    padding-left: 50px;
    font-size: 16px;
  }

  .web-projects-display-card-body li {
    width: 100%;
    height: min-content;
    text-align: left;
    position: relative;
    box-sizing: border-box;
  }

  .web-projects-display-card-body li > img {
    height: 16px;
    object-fit: contain;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .web-projects-display-card-CTA {
    margin: 15px auto;
    gap: 15px;
    flex-direction: row;
  }

  .web-projects-card-asset-loader {
    height: 300px;
    border: 5px dotted var(--mainColor);
  }

  .web-projects-display-card-body-video {
    border-radius: 16px;
  }

  /* -------------------- Handle FullScreen  ---------------*/

  .web-projects-full-screen-img-close {
    border-radius: 16px;
  }

  .web-projects-full-screen-close-button button {
    padding: 20px;
    min-width: 0;
    font-size: 40px;
  }
}

/* --------------------------------------------------------------------- Desktop media query -----------------------------------------------------------------------*/

@media (min-width: 1181px) {
  .web-projects-root {
    width: 80%;
    height: min-content;
    margin: 0 auto;
  }

  .web-projects-content {
    height: 100%;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }

  .web-projects-main-asset {
    width: 450px;
    margin: 0;
  }

  .web-projects-copy {
    width: 55%;
    padding-top: 0%;
    gap: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .web-projects-copy h2 {
    font-size: 46px;
    text-align: left;
    font-weight: 700;
    animation: opacity-translation-Y-in 0.7s cubic-bezier(0.48, 0.23, 0.61, 0.93);
  }
  .web-projects-copy p {
    font-size: 20px;
    font-weight: normal;
    text-align: justify;
    animation: opacity-translation-Y-in 0.8s cubic-bezier(0.48, 0.23, 0.61, 0.93);
  }

  .web-projects-CTA {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 20px;
    margin-top: 5%;
    animation: opacity-in 0.4s cubic-bezier(0.48, 0.23, 0.61, 0.93);
    animation-delay: 1s;
    animation-fill-mode: backwards;
  }

  .web-projects-display-cards {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
    margin-bottom: 10%;
  }

  .web-projects-display-cards hr {
    width: 90%;
    border-radius: 100%;
    margin: 20px auto;
  }

  .web-projects-display-card-body {
    width: 100%;
    padding: 40px;
    gap: 30px;
    height: fit-content;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }

  .web-projects-display-card-body h2 {
    font-size: 46px;
    text-align: center;
    font-weight: 700;
    width: 100%;
    padding: 30px 0;
    text-decoration: underline;
  }

  .web-projects-display-card-body i {
    font-size: 14px;
  }

  .web-projects-display-card-body h4 {
    font-size: 28px;
    text-align: left;
    font-weight: 700;
    width: 100%;
  }

  .web-projects-display-card-body p {
    text-align: justify;
    font-size: 16px;
    width: 100%;
  }

  .web-projects-display-card-body ul {
    text-align: left;
    width: 100%;
    padding-left: 50px;
    box-sizing: border-box;
  }

  .web-projects-display-card-body li {
    width: 100%;
    height: min-content;
    text-align: left;
    position: relative;
    box-sizing: border-box;
  }

  .web-projects-display-card-body li > img {
    height: 16px;
    object-fit: contain;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .web-projects-display-card-CTA {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px auto;
    gap: 20px;
  }

  .web-projects-card-asset-loader {
    width: 100%;
    height: 450px;
    border: 3px dotted var(--mainColor);
    color: var(--mainColor);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .web-projects-display-card-body-video {
    border-radius: 18px;
  }

  /* -------------------- handle FullScreen open ---------------*/

  .web-projects-full-screen-img-close {
    border-radius: 18px;
  }

  .web-projects-full-screen-close-button button {
    padding: 20px;
    min-width: 0;
    font-size: 40px;
  }
}
