b{
    color: var(--mainColor);
    font-weight: inherit;
}
.contact-root{
    height: auto;
    width: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 40%;
    margin-top: 20%;
}

.contact-content{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact-content img{
    height: 250px;
    object-fit: contain;
}

.contact-copy{
    margin-top: 20%;
}
.contact-copy h2{
    font-size: 24px;
    font-weight: 700;
    text-align: left;
}
.contact-copy p{
    font-size: 16px;
    font-weight: normal;
    text-align: justify;
    margin-top: 8%;
}
.contact-btn-options{
    width: 100%;
    height: auto;
}
.Contact-CTA button{
    margin-top: 16%;
    margin-left: auto;
    display: flex;
    margin-bottom: 20%;
}
.contact-form{
    margin-top: 10%;
    height: 500px;
    width: 100%;
    border: 3px solid var(--mainColor);
    border-radius: 9px;
}
.contact-options-cards{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
}