.contact-root {
  width: 80%;
  height: min-content;
  margin: 0 auto;
  border: 1px dotted white;
}

.contact-content {
  height: 100%;
  width: 100%;
  margin-top: 20%;
  margin-bottom: 20%;
  display: flex;
  flex-direction: column;
}

.contact-content img {
  width: 100%;
  object-fit: contain;
  animation: scale-opacity-in 0.7s cubic-bezier(0.5, 0.27, 0.45, 0.87);
  transition: all 0.4s cubic-bezier(0.5, 0.27, 0.45, 0.87);
}

.contact-content img:hover {
  transform: rotate(10deg) scale(1.1);
}

.contact-copy {
  width: 100%;
  padding-top: 20%;
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.contact-copy h2 {
  font-size: 26px;
  text-align: left;
  font-weight: 700;
  animation: opacity-translation-Y-in 0.7s cubic-bezier(0.48, 0.23, 0.61, 0.93);
}
.contact-copy p {
  font-size: 16px;
  font-weight: normal;
  text-align: justify;
  animation: opacity-translation-Y-in 0.8s cubic-bezier(0.48, 0.23, 0.61, 0.93);
}
.contact-CTA {
  margin-left: auto;
  margin-top: 10%;
  animation: opacity-in 0.4s cubic-bezier(0.48, 0.23, 0.61, 0.93);
  animation-delay: 1s;
  animation-fill-mode: backwards;
}

.contact-options-cards {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20%;
}

.contact-display-card {
  width: 100%;
  padding: 20px;
  gap: 20px;
  line-height: 20px;
  height: fit-content;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.contact-display-card h3 {
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  width: 100%;
}

.contact-display-card-CTA {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  gap: 10px;
}

/* --------------------------------------------------------------------- Tablet media query -----------------------------------------------------------------------*/

@media (min-width: 601px) {
  .contact-root {
    margin-top: 10%;
  }

  .contact-content img {
    height: 450px;
  }

  .contact-copy {
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .contact-copy h2 {
    font-size: 34px;
  }
  .contact-copy p {
    font-size: 24px;
  }
  .Contact-CTA button {
    margin-top: 12%;
  }

  .contact-options-cards {
    width: 80%;
    margin-bottom: 30%;
  }
  .contact-options-cards h3 {
    font-size: 28px;
  }
  .contact-options-cards span {
    margin: 20px 0;
  }
}

/* --------------------------------------------------------------------- Desktop media query -----------------------------------------------------------------------*/

@media (min-width: 1181px) {
  .contact-root {
    margin-top: 10%;
  }

  .contact-content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }

  .contact-content img {
    height: 450px;
  }

  .contact-copy {
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .contact-copy h2 {
    font-size: 34px;
    width: 95%;
  }
  .contact-copy p {
    font-size: 20px;
  }
  .Contact-CTA button {
    display: flex;
    margin: 0px;
    margin-top: 12%;
    height: fit-content;
    width: fit-content;
  }
  .contact-options-cards {
    margin-top: 5%;
    margin-bottom: 10%;
    width: 40%;
  }
}
