.mobile-nav-bar-root {
  height: 60px;
  width: 100%;
  bottom: 0;
  z-index: 100;
  box-shadow: 0px 0px 10px 10px hsla(0, 0%, 20%, 0.3);
  background-color: var(--mainColor);
  border-top: 1px solid var(--textSecColor);
  position: fixed;
}

.mobile-nav-bar-content {
  display: flex;
  position: relative;
  justify-content: space-around;
  top: 50%;
  transform: translateY(-50%);
}

.isActive {
  color: var(--textMainColor);
  font-size: 20px;
  scale: 1.1;
  border: none;
  background: none;
}

.isIdle {
  color: var(--textSecColor);
  font-size: 20px;
  opacity: 0.8;
  border: none;
  background: none;
}

/* --------------------------------------------------------------------- Tablet media query -----------------------------------------------------------------------*/

@media (min-width: 601px) {
  .mobile-nav-bar-root {
    height: 70px;
    box-shadow: 0px 0px 30px 30px hsla(0, 0%, 20%, 0.5);
    border-top: 2px solid var(--textSecColor);
  }

  .isActive {
    font-size: 24px;
    scale: 1.2;
  }

  .isIdle {
    font-size: 24px;
    opacity: 0.8;
  }
}

/* --------------------------------------------------------------------- Desktop media query -----------------------------------------------------------------------*/

@media (min-width: 1181px) {
  .desktopNavBar-root {
    height: 80px;
    background-color: var(--mainColor);
    width: 100%;
    position: fixed;
    top: 0;
    box-shadow: 0px 0px 10px 10px hsla(0, 0%, 20%, 0.3);
    z-index: 100;
    border-bottom: 1px solid var(--textSecColor);
  }

  .desktopNavBar-content {
    display: flex;
    position: relative;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
  }
  .desktopNavBar-main-logo {
    margin-right: auto;
    margin-left: 80px;
  }

  .desktopNavBar-main-logo h1 {
    font-size: 50px;
  }

  .desktopNavBar-CTA-buttons {
    width: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .desktopNavBar-CTA-buttons span {
    padding: 0;
  }
  .desktopNavBar-CTA-buttons button {
    padding: 0;
    border: 1px dotted white;
  }
  .desktopNavBar-CTA-buttons i {
    padding: 0;
  }
}
