.mobile-nav-bar-root {
  height: 60px;
  width: 100%;
  bottom: 0;
  z-index: 100;
  box-shadow: 0px 0px 10px 10px hsla(266deg, 99%, 60%, 0.3);
  background-color: var(--mainColor);
  border-top: 1px solid var(--textSecColor);
  position: fixed;
}

.mobile-nav-bar-content {
  display: flex;
  position: relative;
  justify-content: space-around;
  top: 50%;
  transform: translateY(-50%);
}

.isActive {
  color: var(--textMainColor);
  font-size: 20px;
  scale: 1.1;
  border: none;
  background: none;
}

.isIdle {
  color: var(--textSecColor);
  font-size: 20px;
  opacity: 0.8;
  border: none;
  background: none;
}

/* --------------------------------------------------------------------- Tablet media query -----------------------------------------------------------------------*/

@media (min-width: 601px) {
  .mobile-nav-bar-root {
    height: 70px;
    box-shadow: 0px 0px 30px 30px hsla(266deg, 99%, 60%, 0.5);
    border-top: 2px solid var(--textSecColor);
  }

  .isActive {
    font-size: 24px;
    scale: 1.2;
  }

  .isIdle {
    font-size: 24px;
    opacity: 0.8;
  }
}

/* --------------------------------------------------------------------- Desktop media query -----------------------------------------------------------------------*/

@media (min-width: 1181px) {
  .desktopNavBar-root {
    height: 80px;
    background-color: var(--mainColor);
    width: 100%;
    position: fixed;
    top: 0;
    box-shadow: 0px 0px 20px 10px hsla(266deg, 99%, 60%, 0.2);
    transition: box-shadow 0.5s ease-in-out;
    z-index: 100;
    border-bottom: 1px solid var(--textSecColor);
  }

  .desktopNavBar-root:hover {
    box-shadow: 0px 0px 50px 20px hsla(266deg, 99%, 60%, 0.4);
  }

  .desktopNavBar-content {
    display: flex;
    position: relative;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
  }
  .desktopNavBar-main-logo {
    margin-left: 20px;
    height: 80px;
    width: min-content;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
  }

  .desktopNavBar-main-logo:hover {
    border-bottom: 3px solid white;
    border-radius: 2px;
  }

  .desktopNavBar-main-logo h1 {
    font-size: 50px;
    padding: 0 20px;
  }

  .desktopNavBar-CTA-buttons {
    width: fit-content;
    margin-left: auto;
    padding-right: 20px;
    display: flex;
    align-items: center;
  }

  .desktopNavBar-CTA-buttons span {
    width: fit-content;
    padding: 0 10px;
    display: flex;
    align-items: center;
    transition: all 0.2s ease-in-out;
  }

  .desktopNavBar-CTA-buttons span:hover {
    border-bottom: 3px solid white;
    border-radius: 2px;
  }

  .desktopNavBar-CTA-buttons button {
    padding: 1px;
    min-width: fit-content;
    height: 80px;
  }
}
