.mobileNavBar{
    height: 60px;
    background-color: teal;
    width: 100vw;
    position:absolute;
    bottom: 0;
    box-shadow: 0px 0px 10px 0px hsla(0, 0%, 20%, .3);
    z-index: 100;
}

.mobileNavBar .mobileOptions {
    display: flex;
    position: relative;
    justify-content: space-around;
    top: 50%;
    transform: translateY(-50%);
}

.mobileNavBar .mobileOptions button{
    border: none;
    background: none;
    font-size: 20px;
}

