.contact-root {
  width: 80%;
  margin: 0 auto;
}

.contact-content {
  height: 100%;
  width: 100%;
  margin-top: 20%;
  margin-bottom: 20%;
  display: flex;
  flex-direction: column;
}

.contact-main-asset {
  width: 250px;
  margin: 0 auto;
  object-fit: contain;
  animation: scale-opacity-in 0.7s cubic-bezier(0.5, 0.27, 0.45, 0.87);
  transition: all 0.2s cubic-bezier(0.5, 0.27, 0.45, 0.87);
}

.contact-main-asset:hover {
  transform: scale(1.05);
}

.contact-copy {
  width: 100%;
  padding-top: 20%;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.contact-copy h2 {
  font-size: 26px;
  text-align: left;
  font-weight: 700;
  animation: opacity-translation-Y-in 0.7s cubic-bezier(0.48, 0.23, 0.61, 0.93);
}

.contact-copy p {
  font-size: 16px;
  font-weight: normal;
  text-align: justify;
  animation: opacity-translation-Y-in 0.8s cubic-bezier(0.48, 0.23, 0.61, 0.93);
}

.contact-CTA {
  margin-left: auto;
  margin-top: 10%;
  animation: opacity-in 0.4s cubic-bezier(0.48, 0.23, 0.61, 0.93);
  animation-delay: 1s;
  animation-fill-mode: backwards;
}

.contact-cards {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20%;
  gap: 10px;
}

.contact-card-body {
  width: 100%;
  padding: 20px;
  gap: 20px;
  height: fit-content;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.contact-card-body h4 {
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  width: 100%;
}

.contact-card-body-CTA {
  display: flex;
  margin: 10px auto;
}

/* -------------------- handle FullScreen  ---------------*/

.contact-card-img-open {
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  top: 0;
  left: 0px;
  z-index: 550;
  position: fixed;
}

.contact-card-img-close {
  width: 100%;
  object-fit: contain;
  border-radius: 12px;
}

.contact-card-img-open:hover {
  cursor: pointer;
}

.contact-card-img-close:hover {
  cursor: pointer;
}

.contact-full-screen-close-button {
  z-index: 600;
  top: 0;
  right: 0;
  position: fixed;
}

.contact-full-screen-close-button button {
  padding: 15px;
  min-width: 0;
  font-size: 30px;
}

.contact-full-screen-bg {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 500;
  position: fixed;
  background-color: black;
}

/* --------------------------------------------------------------------- Tablet media query -----------------------------------------------------------------------*/

@media (min-width: 601px) {
  .contact-root {
    width: 70%;
  }

  .contact-content {
    margin-top: 15%;
    margin-bottom: 15%;
  }

  .contact-main-asset {
    width: 400px;
  }

  .contact-copy {
    padding-top: 15%;
    gap: 30px;
  }

  .contact-copy h2 {
    font-size: 40px;
  }

  .contact-copy p {
    font-size: 16px;
  }

  .contact-CTA {
    gap: 20px;
    margin-top: 10%;
  }

  .contact-cards {
    margin-bottom: 15%;
    gap: 15px;
  }

  .contact-card-body {
    padding: 40px;
    gap: 30px;
  }

  .contact-card-body h4 {
    font-size: 24px;
  }

  .contact-card-body-CTA {
    margin: 20px auto;
  }

  /* -------------------- handle FullScreen ---------------*/

  .contact-card-img-close {
    border-radius: 16px;
  }

  .contact-full-screen-close-button button {
    padding: 20px;
    min-width: 0;
    font-size: 40px;
  }
}

/* --------------------------------------------------------------------- Desktop media query -----------------------------------------------------------------------*/

@media (min-width: 1181px) {
  .contact-root {
    width: 80%;
  }

  .contact-content {
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }

  .contact-main-asset {
    width: 450px;
    margin: 0;
  }

  .contact-copy {
    width: 55%;
    padding-top: 0%;
    gap: 30px;
  }

  .contact-copy h2 {
    font-size: 46px;
  }

  .contact-copy p {
    font-size: 20px;
  }

  .contact-CTA {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 20px;
    margin-top: 5%;
  }

  .contact-cards {
    margin: 0 auto;
    width: 70%;
    margin-bottom: 10%;
  }

  .contact-card-body {
    padding: 50px;
    gap: 30px;
  }

  .contact-card-body h4 {
    font-size: 28px;
  }

  .contact-card-body-CTA {
    margin: 30px auto;
  }

  /* -------------------- handle FullScreen ---------------*/

  .contact-card-img-close {
    border-radius: 18px;
  }

  .contact-full-screen-close-button button {
    padding: 30px;
    min-width: 0;
    font-size: 40px;
  }
}
