.landingPage-root {
  width: 80%;
  margin: 0 auto;
}

.landingPage-content {
  width: 100%;
  margin-top: 20%;
  margin-bottom: 20%;
  display: flex;
  flex-direction: column;
}

.landingPage-main-asset {
  width: 250px;
  margin: 0 auto;
  object-fit: contain;
  animation: scale-opacity-in 0.7s cubic-bezier(0.5, 0.27, 0.45, 0.87);
  transition: all 0.2s cubic-bezier(0.5, 0.27, 0.45, 0.87);
}

.landingPage-main-asset:hover {
  transform: scale(1.05);
}

.landingPage-copy {
  width: 100%;
  padding-top: 20%;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.landingPage-copy h2 {
  font-size: 26px;
  text-align: left;
  font-weight: 700;
  animation: opacity-translation-Y-in 0.7s cubic-bezier(0.48, 0.23, 0.61, 0.93);
}

.landingPage-copy p {
  font-size: 16px;
  font-weight: normal;
  text-align: justify;
  animation: opacity-translation-Y-in 0.8s cubic-bezier(0.48, 0.23, 0.61, 0.93);
}

.landingPage-CTA {
  margin-left: auto;
  margin-top: 10%;
  animation: opacity-in 0.4s cubic-bezier(0.48, 0.23, 0.61, 0.93);
  animation-delay: 1s;
  animation-fill-mode: backwards;
}

/* --------------------------------------------------------------------- Tablet media query -----------------------------------------------------------------------*/

@media (min-width: 601px) {
  .landingPage-root {
    width: 70%;
  }

  .landingPage-content {
    margin-top: 15%;
    margin-bottom: 15%;
  }

  .landingPage-main-asset {
    width: 400px;
  }

  .landingPage-copy {
    padding-top: 15%;
    gap: 30px;
  }

  .landingPage-copy h2 {
    font-size: 40px;
  }

  .landingPage-copy p {
    font-size: 16px;
  }

  .landingPage-CTA {
    margin-top: 10%;
  }
}

/* --------------------------------------------------------------------- Desktop media query -----------------------------------------------------------------------*/

@media (min-width: 1181px) {
  .landingPage-root {
    width: 80%;
  }

  .landingPage-content {
    margin-top: 10%;
    margin-bottom: 10%;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }

  .landingPage-main-asset {
    width: 450px;
    margin: 0;
  }

  .landingPage-copy {
    width: 55%;
    padding-top: 0%;
    gap: 30px;
  }

  .landingPage-copy h2 {
    font-size: 46px;
  }

  .landingPage-copy p {
    font-size: 20px;
  }

  .landingPage-CTA {
    width: 100%;
    margin-top: 5%;
    margin-right: auto;
  }
}
