.aboutMe-root {
  width: 80%;
  margin: 0 auto;
}

.aboutMe-content {
  width: 100%;
  margin-top: 20%;
  margin-bottom: 20%;
  display: flex;
  flex-direction: column;
}

.about-me-main-asset {
  width: 250px;
  margin: 0 auto;
  object-fit: contain;
  animation: scale-opacity-in 0.7s cubic-bezier(0.5, 0.27, 0.45, 0.87);
  transition: all 0.2s cubic-bezier(0.5, 0.27, 0.45, 0.87);
}

.about-me-main-asset:hover {
  transform: scale(1.05);
}

.aboutMe-copy {
  width: 100%;
  padding-top: 20%;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.aboutMe-copy h2 {
  font-size: 26px;
  text-align: left;
  font-weight: 700;
  animation: opacity-translation-Y-in 0.7s cubic-bezier(0.48, 0.23, 0.61, 0.93);
}

.aboutMe-copy p {
  font-size: 16px;
  font-weight: normal;
  text-align: justify;
  animation: opacity-translation-Y-in 0.8s cubic-bezier(0.48, 0.23, 0.61, 0.93);
}

.aboutMe-CTA {
  margin-left: auto;
  margin-top: 10%;
  animation: opacity-in 0.4s cubic-bezier(0.48, 0.23, 0.61, 0.93);
  animation-delay: 1s;
  animation-fill-mode: backwards;
}

.about-me-read-more-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20%;
  gap: 20px;
}

.about-me-body-PFP {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  margin-bottom: 10%;
  border: 5px solid white;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-me-body-PFP img {
  height: 350px;
  object-fit: contain;
  position: relative;
  top: 40px;
}

.about-me-body-PFP:hover {
  scale: 1.1;
  border: 6px solid var(--mainColor);
}

.about-me-read-more-body h2 {
  font-size: 32px;
  text-align: center;
  font-weight: 700;
  width: 100%;
  text-decoration: underline;
}

.about-me-read-more-body i {
  font-size: 10px;
  text-align: right;
  width: 100%;
  padding-top: 20px;
  opacity: 0.6;
}

.about-me-read-more-body h3 {
  font-size: 20px;
  text-align: left;
  font-weight: 700;
  width: 100%;
}

.about-me-read-more-body p {
  text-align: justify;
  font-size: 16px;
  width: 100%;
}

.about-me-asset-loader {
  width: 100%;
  height: 150px;
  border: 3px dotted var(--mainColor);
  color: var(--mainColor);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.about-me-body-asset {
  width: 100%;
  border: none;
  border-radius: 12px;
  transition: all 0.2s ease-in-out;
}

.about-me-body-asset:hover {
  box-shadow: 0px 0px 5px 0px hsla(266deg, 99%, 60%, 0.3);
}

/* ------------------------------------------- Tablet media query -----------------------------------------------------------------------*/

@media (min-width: 601px) {
  .aboutMe-root {
    width: 70%;
  }

  .aboutMe-content {
    margin-top: 15%;
    margin-bottom: 15%;
  }

  .about-me-main-asset {
    width: 400px;
  }

  .aboutMe-copy {
    padding-top: 15%;
    gap: 30px;
  }

  .aboutMe-copy h2 {
    font-size: 40px;
  }

  .aboutMe-copy p {
    font-size: 16px;
  }

  .aboutMe-CTA {
    margin-top: 10%;
  }

  .about-me-read-more-body {
    margin-bottom: 15%;
    gap: 30px;
  }

  .about-me-body-PFP {
    height: 250px;
    width: 250px;
    border: 6px solid white;
  }

  .about-me-body-PFP img {
    height: 500px;
    top: 25%;
  }

  .about-me-body-PFP:hover {
    border: 7px solid var(--mainColor);
  }

  .about-me-read-more-body h2 {
    font-size: 42px;
  }

  .about-me-read-more-body i {
    font-size: 12px;
    margin-top: 30px;
  }

  .about-me-read-more-body h3 {
    font-size: 28px;
  }

  .about-me-read-more-body p {
    font-size: 16px;
  }

  .about-me-asset-loader {
    height: 300px;
    border: 5px dotted var(--mainColor);
  }

  .about-me-body-asset {
    border-radius: 16px;
    width: 80%;
  }

  .about-me-body-asset:hover {
    box-shadow: 0px 0px 10px 0px hsla(266deg, 99%, 60%, 0.4);
  }
}

/* ----------------------------------------- Desktop media query -----------------------------------------------------------------------*/

@media (min-width: 1181px) {
  .aboutMe-root {
    width: 80%;
  }

  .aboutMe-content {
    margin-top: 10%;
    margin-bottom: 10%;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }

  .about-me-main-asset {
    width: 450px;
    margin: 0;
  }

  .aboutMe-copy {
    width: 55%;
    padding-top: 0%;
    gap: 30px;
  }

  .aboutMe-copy h2 {
    font-size: 46px;
  }

  .aboutMe-copy p {
    font-size: 20px;
  }

  .aboutMe-CTA {
    margin-right: auto;
    width: 100%;
    margin-top: 5%;
  }

  .about-me-read-more-body {
    width: 70%;
    margin-bottom: 10%;
    gap: 30px;
  }

  .about-me-body-PFP {
    height: 350px;
    width: 350px;
    border-radius: 100%;
    margin-bottom: 10%;
    border: 8px solid white;
  }

  .about-me-body-PFP img {
    height: 700px;
  }

  .about-me-body-PFP:hover {
    scale: 1.05;
    border: 9px solid var(--mainColor);
  }

  .about-me-read-more-body h2 {
    font-size: 58px;
  }

  .about-me-read-more-body i {
    font-size: 14px;
    margin-top: 50px;
  }

  .about-me-read-more-body h3 {
    font-size: 32px;
  }

  .about-me-read-more-body p {
    font-size: 16px;
  }

  .about-me-asset-loader {
    height: 450px;
    border: 3px dotted var(--mainColor);
  }

  .about-me-body-asset {
    border-radius: 18px;
    width: 70%;
  }

  .about-me-body-asset:hover {
    box-shadow: 0px 0px 15px 0px hsla(266deg, 99%, 60%, 0.5);
  }
}
