.landingPage-root{
    width: 80%;
    height: 90%;
    margin: 0 auto;
}
.landingPage-root .landingPage-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
}

.landingPage-root .astroBoy{
    height: 250px;
    margin-top: 20%;
    margin-bottom: 20%;

}

.landingPage-root .landingPage-content .landingPage-copy{
    font-size: 24px;
    text-align:left;
    font-weight: 700;
    text-align: justify;
}

b{
    color: var(--mainColor);
}

.landingPage-CTA button{ 
    margin-top: 16%;
    margin-bottom: 40%;
}
