
b{
    color: var(--mainColor);
    font-weight: 700;
}
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
.landingPage-root{
    width: 80%;
    height: min-content;
    margin: 0 auto;
    margin-top: 20%;
}
    .landingPage-content{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
        width: 100%;
    }

        .landingPage-content img{
            height: 250px;
            object-fit: contain;

        }
        .landingPage-copy{
            padding-top: 20%;
            padding-bottom: 20%;
        }
            .landingPage-copy h2{
                font-size: 24px;
                text-align:left;
                font-weight: 700;
                width: 100%;
                margin: 0;
            }

            .landingPage-copy p{
                font-size: 16px;
                font-weight: normal;
                text-align: justify;
            }

            .landingPage-CTA button{ 
                display: flex;
                margin-left: auto;
                margin-top: 16%;
            }



/* --------------------------------------------------------------------- Tablet media query -----------------------------------------------------------------------*/



@media (min-width: 601px){
    
    .landingPage-root{
        margin-top: 10%;
    }
    
        .landingPage-content  img{
            height: 450px;
        
        }
        .landingPage-copy{
            padding-top: 10%;
            padding-bottom: 10%;
        }
            .landingPage-copy h2{
                font-size: 34px;
            }

            .landingPage-copy p{
                font-size: 24px;
            }
            
            .landingPage-CTA button{ 
                margin-top: 12%;
            }
}



/* --------------------------------------------------------------------- Desktop media query -----------------------------------------------------------------------*/


@media (min-width: 1181px){


    .landingPage-root{
        margin-top: 10%;
       
    }
        .landingPage-content{
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center;
        }

            .landingPage-content img{
                height: 450px;
            }
            
            .landingPage-copy{
                padding-top: 10%;
                padding-bottom: 10%;
            }

                .landingPage-copy h2{
                    font-size: 34px;
                }

                .landingPage-copy p{
                    font-size: 20px;
                }

                .landingPage-CTA button{
                    display: flex;
                    margin: 0px;
                    margin-top: 12%;
                    height: fit-content;
                    width: fit-content;
                }

}