
b{
    color: var(--mainColor);
}

.landingPage-root{
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-top: 20%;
    margin-bottom: 40%;

}
.landingPage-root .landingPage-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
}

.landingPage-root .astroBoy{
    height: 250px;
    margin-bottom: 20%;
}

.landingPage-copy h2{
    font-size: 24px;
    text-align:left;
    font-weight: 700;
    width: 100%;
}


.landingPage-CTA button{ 
    display: flex;
    margin-left: auto;
    margin-top: 16%;
}



/* --------------------------------------------------------------------- Tablet media query -----------------------------------------------------------------------*/



@media (min-width: 600px){
    
    .landingPage-root{
        margin-top: 10%;
        margin-bottom: 20%;
    }
    
    .landingPage-root .astroBoy{
        height: 450px;
        margin-bottom: 10%;
    }
    
    .landingPage-copy h2{
        font-size: 34px;
        
        font-weight: 700;
        width: 100%;
    }

    .landingPage-copy p{
        font-size: 26px;
        text-align:left;
        width: 100%;
    }
    
    .landingPage-CTA button{ 
        display: flex;
        margin-left: auto;
        margin-top: 12%;
    }
}