h3{
    text-align: left;
    font-size: 16px;
    padding-bottom: 20px;
    margin: 0;
}
h2{
    font-size: 24px;
    margin: 0;

}
p{
    text-align: left;
    font-size: 16px;
    margin: 0;

}

.card-root-open{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--mainColor);
    border-radius: 9px;
    position: relative;
    overflow: hidden;
    margin: 5px 0px;
    background-color: none;
}

.card-title{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: var(--mainColor);
    text-align: left;
    padding: 0px 20px;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 24px;
}
.card-root-open .card-title button{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    background-color: var(--textMainColor);
    color: var(--mainColor);
    transform:rotate(90deg);
    transition: all .3s ease-in-out;
}
.card-root-open .card-body{
    display: flex;
    flex-direction: column;
    max-height: 2000px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--secColor);
    overflow: hidden;
    padding: 20px 20px;
    box-sizing: border-box;
    text-align: justify;
    transition: all .3s ease-in-out;
    /* z-index: -999; */


}
.card-body img{
    max-height:200px;
}   
.card-body p{
    margin-bottom: 20px;
}


/*  -------------- CLOSED  -------------- */

.card-root-close{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--mainColor);
    border-radius: 9px;
    position: relative;
    overflow: hidden;
    margin: 5px 0px;
    background-color: none;
}

.card-root-close .card-title button{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    background-color: var(--textMainColor);
    color: var(--mainColor);
    transform:rotate(0deg);
    transition: all .3s ease-in-out;

}
.card-root-close .card-body{
    display: flex;
    flex-direction: column;
    max-height: 0px;
    overflow: hidden;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--secColor);
    padding: 0px 20px;
    box-sizing: border-box;
    text-align: justify;
    transition: all .4s ease;
    z-index: -999;
}
