h2{
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    width: 100%;
}
h3{
    font-size: 20px;
    text-align: left;
    font-weight: 700;
    width: 100%;
}
p{
    text-align: justify;
    font-size: 16px;
    width: 100%;
}
video{
    width: 100%;
    object-fit: contain;
}

img{
    width: 100%;
    object-fit: contain;
}

ul{
    text-align: left;
    width: 90%;
    padding-left: 20px;
}
li{
    text-align: left;
    width: 100%;
    padding: 2px 0;
}


.card-root-open{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--mainColor);
    border-radius: 12px;
    position: relative;
    overflow: hidden;
    margin: 5px 0px;
}

.card-title{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: var(--mainColor);
    padding: 0px 20px;
    box-sizing: border-box;
    
}
.card-root-open .card-title button{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    background-color: var(--textMainColor);
    color: var(--mainColor);
    transform:rotate(90deg);
    transition: max-height .3s ease-in-out;
}
.card-root-open .card-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--secColor);
    max-height: 300px;
    padding: 20px 20px;
    transition: all .3s ease-in-out;
    gap: 20px;
    overflow: scroll;
    opacity: 1;
    box-sizing: border-box;

}


/*  ------------------------- CLOSED  --------------------- */

.card-root-close{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--mainColor);
    border-radius: 12px;
    position: relative;
    overflow: scroll;
    margin: 5px 0px;
    background-color: none;
}

.card-root-close .card-title button{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    background-color: var(--textMainColor);
    color: var(--mainColor);
    transform:rotate(0deg);
    transition: all .3s ease-in-out;
}
.card-root-close .card-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    max-height: 0px;
    background-color: var(--secColor);
    padding: 0px 20px;
    transition: all .4s ease;
    gap: 20px;
    opacity: 0;
    box-sizing: border-box;

}




/* --------------------------------------------------------------------- Tablet media query -----------------------------------------------------------------------*/



@media (min-width: 601px){

    h2{
        font-size: 34px;
       
    }
   
    p{
      
        font-size: 26px;
       
    }
 
    ul{
        font-size: 26px;
        padding-left: 30px;
    }
    
    .card-root-open{
       
        border: 2px solid var(--mainColor);
        border-radius: 22px;
        margin: 10px 0px;
   
    }
    
    .card-title{
        
        height: 70px;
        padding: 0px 30px;
        font-size: 34px;
    }
    .card-root-open .card-title button{
        height: 40px;
        width: 40px;

    }
    .card-root-open .card-body{
      
        max-height: 600px;
        padding: 30px 0px;
        gap: 25px;
    }
 
    
    /*  ----------------------- CLOSED --------------------- */
    
    .card-root-close{
      
        border: 2px solid var(--mainColor);
        border-radius: 22px;
        margin: 10px 0px;
       
    }
    
    .card-root-close .card-title button{
        height: 40px;
        width: 40px;
       
    
    }
    .card-root-close .card-body{
     
        gap: 25px;
    }

}


/* --------------------------------------------------------------------- Desktop media query -----------------------------------------------------------------------*/


@media (min-width: 1181px){



    h2{
        font-size: 30px;
      
    }

    p{
        
        font-size: 20px;
      
    }
 
    img:hover{
        cursor: pointer;
    }
    ul{
        text-align: left;
        width: 90%;
        padding-left: 20px;
        font-size: 20px;
    }
    
    .card-root-open{
     
        border: 2px solid var(--mainColor);
        border-radius: 18px;
        margin: 10px 0px;

    }
    
    .card-title{
        height: 80px;
        padding: 0px 30px;
        font-size: 30px;
    }
    .card-root-open .card-title button{
        height: 40px;
        width: 40px;
        
    }
    .card-root-open .card-body{
        
        max-height: 500px;
        width: 90%;
        padding: 40px 0px;
        gap: 25px;

    }

    
    /*  ----------------- CLOSED  ------------------- */
    
    .card-root-close{
        
        border: 2px solid var(--mainColor);
        border-radius: 18px;
        margin: 10px 0px;
    }
    
    .card-root-close .card-title button{
        height: 40px;
        width: 40px;
        
    
    }
    .card-root-close .card-body{
      
        max-height: 0px;
        width: 90%;   
        padding: 0px 0px;
        gap: 25px;
        overflow: scroll;

    }
    
}