.form-root {
  width: 100%;
  height: min-content;
  margin: 0 auto;
}

.form-content {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-content-inputs {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-content-inputs div {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-content-textareas {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-content h4 {
  font-size: 20px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.form-content input {
  height: 40px;
  width: 100%;
  font-size: 16px;
  padding: 10px 10px;
  border-radius: 12px;
  text-align: left;
  box-sizing: border-box;
  border: none;
  font-family: var(--mainFont);
}

.form-content textarea {
  min-height: 100px;
  width: 100%;
  font-size: 16px;
  padding: 10px 10px;
  box-sizing: border-box;
  text-align: left;
  border-radius: 12px;
  resize: none;
  border: none;
  font-family: var(--mainFont);
}

.form-button-CTA {
  width: fit-content;
  margin: 10px auto;
}

/* -----------------------  pop-up styles ------------  */

.email-pop-up-root {
  z-index: 1000;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.email-pop-up-content {
  position: relative;
  height: 300px;
  width: 300px;
  border-radius: 12px;
  z-index: 1;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--mainColor);
  background-color: var(--secColor);
}

.email-pop-up-content h2 {
  font-size: 24px;
}

.email-pop-up-content img {
  width: 80px;
  margin: 20px auto;
  object-fit: contain;
  animation: scale-opacity-in 0.7s cubic-bezier(0.5, 0.27, 0.45, 0.87);
  transition: all 0.4s cubic-bezier(0.5, 0.27, 0.45, 0.87);
}

.email-pop-up-content img:hover {
  transform: rotate(10deg) scale(1.1);
}

.email-pop-up-content span {
  margin: 10px auto;
}

.email-pop-up-background {
  position: fixed;
  background-color: var(--secColor);
  z-index: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0.9;
}

/* ---------------------------------------- Tablet media query -----------------------------------------------------------------------*/

@media (min-width: 601px) {
  .form-root {
    width: 100%;
    height: min-content;
    margin: 0 auto;
  }

  .form-content {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .form-content-inputs {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .form-content-inputs div {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .form-content-textareas {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .form-content h4 {
    font-size: 24px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }

  .form-content input {
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 10px 10px;
    border-radius: 15px;
    text-align: left;
    box-sizing: border-box;
    border: none;
    font-family: var(--mainFont);
  }

  .form-content textarea {
    min-height: 100px;
    width: 100%;
    font-size: 16px;
    padding: 10px 10px;
    box-sizing: border-box;
    text-align: left;
    border-radius: 15px;
    resize: none;
    border: none;
    font-family: var(--mainFont);
  }

  .form-button-CTA {
    width: fit-content;
    margin: 20px auto;
  }

  /* -----------------------  pop-up styles ------------  */

  .email-pop-up-content {
    position: relative;
    height: 350px;
    width: 450px;
    border-radius: 16px;
    z-index: 1;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--mainColor);
    background-color: var(--secColor);
  }

  .email-pop-up-content h2 {
    font-size: 28px;
  }

  .email-pop-up-content img {
    width: 100px;
    margin: 30px auto;
    object-fit: contain;
    animation: scale-opacity-in 0.7s cubic-bezier(0.5, 0.27, 0.45, 0.87);
    transition: all 0.4s cubic-bezier(0.5, 0.27, 0.45, 0.87);
  }

  .email-pop-up-content img:hover {
    transform: rotate(10deg) scale(1.1);
  }

  .email-pop-up-content span {
    margin: 20px auto;
  }
}

/* ------------------------------------------------ Desktop media query -----------------------------------------------------------------------*/

@media (min-width: 1181px) {
  .form-root {
    width: 100%;
    height: min-content;
    margin: 0 auto;
  }

  .form-content {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .form-content-inputs {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 15px;
  }

  .form-content-inputs div {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .form-content-textareas {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .form-content h4 {
    font-size: 28px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }

  .form-content input {
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 10px 10px;
    border-radius: 18px;
    text-align: left;
    box-sizing: border-box;
    border: none;
    font-family: var(--mainFont);
  }

  .form-content textarea {
    min-height: 150px;
    width: 100%;
    font-size: 16px;
    padding: 10px 10px;
    box-sizing: border-box;
    text-align: left;
    border-radius: 18px;
    resize: none;
    border: none;
    font-family: var(--mainFont);
  }

  .form-button-CTA {
    width: fit-content;
    margin: 30px auto;
  }

  /* -----------------------  pop-up styles ------------  */

  .email-pop-up-content {
    position: relative;
    height: 350px;
    width: 500px;
    border-radius: 18px;
    z-index: 1;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--mainColor);
    background-color: var(--secColor);
  }

  .email-pop-up-content h2 {
    font-size: 34px;
  }

  .email-pop-up-content img {
    width: 120px;
    margin: 20px auto;
    object-fit: contain;
    animation: scale-opacity-in 0.7s cubic-bezier(0.5, 0.27, 0.45, 0.87);
    transition: all 0.4s cubic-bezier(0.5, 0.27, 0.45, 0.87);
  }

  .email-pop-up-content img:hover {
    transform: rotate(10deg) scale(1.1);
  }

  .email-pop-up-content span {
    margin: 20px auto;
  }
}
